## Pipeline: Clean Categorical Features

Using the Titanic dataset from [this](https://www.kaggle.com/c/titanic/overview) Kaggle competition.

This dataset contains information about 891 people who were on board the ship when departed on April 15th, 1912. As noted in the description on Kaggle's website, some people aboard the ship were more likely to survive the wreck than others. There were not enough lifeboats for everybody so women, children, and the upper-class were prioritized. Using the information about these 891 passengers, the challenge is to build a model to predict which people would survive based on the following fields:

- **Name** (str) - Name of the passenger
- **Pclass** (int) - Ticket class
- **Sex** (str) - Sex of the passenger
- **Age** (float) - Age in years
- **SibSp** (int) - Number of siblings and spouses aboard
- **Parch** (int) - Number of parents and children aboard
- **Ticket** (str) - Ticket number
- **Fare** (float) - Passenger fare
- **Cabin** (str) - Cabin number
- **Embarked** (str) - Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

**This notebook will implement some of the cleaning that was done in Section 2: EDA & Data Cleaning**

![Clean Data](../../img/clean_data.png)

### Read in Data

In [9]:
import numpy as np
import pandas as pd

titanic = pd.read_csv('../../titanic_cleaned.csv')
titanic.head()

   Survived  Pclass     Sex   Age     Fare  Family_cnt  Cabin_ind
0         0       3    male  22.0   7.2500           1          0
1         1       1  female  38.0  71.2833           1          1
2         1       3  female  26.0   7.9250           0          0
3         1       1  female  35.0  53.1000           1          1
4         0       3    male  35.0   8.0500           0          0

### Clean categorical variables
1. Create an indicator variable in place of `Cabin`
2. Convert `Sex` to a numeric variable
3. Drop irrelevant/repetitive variables (`Cabin`, `Embarked`, `Name`, `Ticket`)

#### Create indicator for `Cabin`

In [10]:
titanic['Cabin_ind'] = np.where(titanic['Cabin'].isnull(), 0, 1)

KeyError: 'Cabin'

#### Convert `Sex` to numeric

In [4]:
gender_num = {'male': 0, 'female': 1}

#### Drop unnecessary variables

In [8]:
titanic.drop(['Cabin', 'Embarked', 'Name', 'Ticket'], axis=1, inplace=True)

KeyError: "['Cabin' 'Embarked' 'Name' 'Ticket'] not found in axis"

### Write out cleaned data

In [6]:
titanic.to_csv('../../titanic_cleaned.csv', index=False)